h1 {
    color: darkblue;
    font-size: 2em;
}

h2 {
    color: darkblue;
    font-size: 2em;
}

* {
    background-color: lightblue;
    color: blue;
    font: 1.2em sans-serif;
    text-align: center;
}

iframe {
    width: 480px;
    height: 360px;
    border: 0.5em solid darkblue;
}

a {
    text-decoration: none;
}