* {
    background-color: lightblue;
    color: blue;
    font: 1.2em sans-serif;
    text-align: center;
}

h1 {
    color: darkblue;
    font-size: 2em;
}

h2 {
    color: darkblue;
    font-size: 2em;
}

iframe {
    width: 480px;
    height: 360px;
}

a{
    text-decoration: none;
}

img {
    width: 480px;
    height: auto;
}

.big {
    font: 250% sans-serif;
}